[x-cloak] {
    display: none !important;
}

body {
    background: url("https://assets.codepen.io/74045/green.jpg") no-repeat center center fixed;
    background-size: cover;
}

.cardArea {
    width: 100%;
    text-align: center;
}

.cardArea h3 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.cardArea img {
    max-width: 18%;
    margin: 5px;
}

#status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 1.5em;
}

#status p {
    margin-top: auto;
    margin-bottom: auto;
}